openapi: 3.0.1
info:
  title: Vectorize AI Platform Connectors Uploads API
  description: 'The Vectorize API lets developers programmatically build and operate RAG (retrieval-augmented generation) pipelines: create / start / stop / delete pipelines, run retrieval against a pipeline''s vector index, manage source, destination, and AI-platform connectors, upload files, extract documents with Iris, and run deep research. All paths are organization-scoped under /org/{organizationId}. Authentication uses a Bearer access token.'
  termsOfService: https://vectorize.io/terms
  contact:
    name: Vectorize Support
    url: https://vectorize.io
  version: 0.1.2
servers:
- url: https://api.vectorize.io/v1
  description: Vectorize API
security:
- bearerAuth: []
tags:
- name: Uploads
  description: Push and manage files against File Upload connectors.
paths:
  /org/{organizationId}/uploads/{connectorId}/files:
    get:
      operationId: getUploadFilesFromConnector
      tags:
      - Uploads
      summary: List files in a File Upload connector
      parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ConnectorId'
      responses:
        '200':
          description: Files in the connector.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    put:
      operationId: startFileUploadToConnector
      tags:
      - Uploads
      summary: Upload files to a File Upload connector
      parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ConnectorId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  type: array
                  items:
                    type: string
                    format: binary
      responses:
        '200':
          description: Files uploaded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
  /org/{organizationId}/uploads/{connectorId}/files/{fileName}:
    delete:
      operationId: deleteFileFromConnector
      tags:
      - Uploads
      summary: Delete a file from a File Upload connector
      parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/ConnectorId'
      - name: fileName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: File deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
components:
  parameters:
    ConnectorId:
      name: connectorId
      in: path
      required: true
      schema:
        type: string
    OrganizationId:
      name: organizationId
      in: path
      required: true
      description: Vectorize organization identifier.
      schema:
        type: string
  schemas:
    MessageResponse:
      type: object
      properties:
        message:
          type: string
      required:
      - message
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Vectorize API access token passed as a Bearer token.
