openapi: 3.0.1
info:
  title: Vectorize AI Platform Connectors Source Connectors API
  description: 'The Vectorize API lets developers programmatically build and operate RAG (retrieval-augmented generation) pipelines: create / start / stop / delete pipelines, run retrieval against a pipeline''s vector index, manage source, destination, and AI-platform connectors, upload files, extract documents with Iris, and run deep research. All paths are organization-scoped under /org/{organizationId}. Authentication uses a Bearer access token.'
  termsOfService: https://vectorize.io/terms
  contact:
    name: Vectorize Support
    url: https://vectorize.io
  version: 0.1.2
servers:
- url: https://api.vectorize.io/v1
  description: Vectorize API
security:
- bearerAuth: []
tags:
- name: Source Connectors
  description: Manage data source connectors.
paths:
  /org/{organizationId}/connectors/sources:
    post:
      operationId: createSourceConnector
      tags:
      - Source Connectors
      summary: Create a source connector
      parameters:
      - $ref: '#/components/parameters/OrganizationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Source connector created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorResponse'
        '400':
          $ref: '#/components/responses/Error'
    get:
      operationId: getSourceConnectors
      tags:
      - Source Connectors
      summary: List source connectors
      parameters:
      - $ref: '#/components/parameters/OrganizationId'
      responses:
        '200':
          description: Source connectors.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /org/{organizationId}/connectors/sources/{sourceConnectorId}:
    get:
      operationId: getSourceConnector
      tags:
      - Source Connectors
      summary: Retrieve a source connector
      parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/SourceConnectorId'
      responses:
        '200':
          description: Source connector.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorResponse'
        '404':
          $ref: '#/components/responses/Error'
    patch:
      operationId: updateSourceConnector
      tags:
      - Source Connectors
      summary: Update a source connector
      parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/SourceConnectorId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Source connector updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
    delete:
      operationId: deleteSourceConnector
      tags:
      - Source Connectors
      summary: Delete a source connector
      parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/SourceConnectorId'
      responses:
        '200':
          description: Source connector deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
  /org/{organizationId}/connectors/sources/{sourceConnectorId}/users:
    post:
      operationId: addUserToSourceConnector
      tags:
      - Source Connectors
      summary: Add a user to a source connector
      parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/SourceConnectorId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: User added.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
    patch:
      operationId: updateUserInSourceConnector
      tags:
      - Source Connectors
      summary: Update a user in a source connector
      parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/SourceConnectorId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: User updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
    delete:
      operationId: deleteUserFromSourceConnector
      tags:
      - Source Connectors
      summary: Remove a user from a source connector
      parameters:
      - $ref: '#/components/parameters/OrganizationId'
      - $ref: '#/components/parameters/SourceConnectorId'
      responses:
        '200':
          description: User removed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        details:
          type: string
        failedUpdates:
          type: array
          items:
            type: string
        successfulUpdates:
          type: array
          items:
            type: string
      required:
      - error
    ConnectorResponse:
      type: object
      properties:
        message:
          type: string
        connectorId:
          type: string
      additionalProperties: true
    MessageResponse:
      type: object
      properties:
        message:
          type: string
      required:
      - message
  parameters:
    SourceConnectorId:
      name: sourceConnectorId
      in: path
      required: true
      schema:
        type: string
    OrganizationId:
      name: organizationId
      in: path
      required: true
      description: Vectorize organization identifier.
      schema:
        type: string
  responses:
    Error:
      description: Error response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Vectorize API access token passed as a Bearer token.
